<!DOCTYPE html>
<html lang="pt-BR">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Disciplinas</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>
<body>
    <div class="container">
        <h1>Lista de Disciplinas</h1>

        <!-- Formulário para adicionar disciplina -->
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="nome_disciplina" placeholder="Nome da Disciplina" required>
            <input type="text" name="nome_professor" placeholder="Nome do Professor" required>
            <button type="submit">Adicionar</button>
        </form>
    </div>

    <table>
        <tr>
            <th>Nome da Disciplina</th>
            <th>Nome do Professor</th>
        </tr>
        {% for disciplina in disciplinas %}
        <tr>
            <td>{{ disciplina.nome_disciplina }}</td>
            <td>{{ disciplina.nome_professor }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>

